# Core
transformers
torch
sentencepiece
python-dotenv
colorama

# Knowledge Base
chromadb
sentence-transformers

# Brains
biopython
mediapipe
opencv-python
requests
detectlanguage
libretranslatepy

# Utilities
cachetools

# Testing
pytest
